{% include 'django_codebase/page_head.html' %}
<div class="row">
    <div class="span4"></div>
    <div class="span4">
        {% if success_msg %}
            <div class="alert alert-success">{{ success_msg }}</div>
            <form method="get" action="{% url 'index' %}">
                {% csrf_token %}
                <input type="submit" value="ادامه" class="btn btn-primary">
            </form>
        {% else %}
            {% if error_msg %}
                <div class="alert alert-error">{{ error_msg }}</div>
            {% endif %}
            <form method="post" action="{% url 'custom_auth:contact_us' %}">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="ثبت" class="btn btn-primary btn-block">
            </form>
        {% endif %}
    </div>
    <div class="span4"></div>
</div>

{% include 'django_codebase/page_end.html' %}
